@layer components {
  .sidebar {
    @apply min-h-screen h-full bg-primary-500 w-[300px] flex flex-col fixed top-0 left-0 shrink-0 shadow-sidebar z-[9999];
    transition: 0.3s ease;
    .logo {
      @apply p-8;
    }
    .sidebar-lista {
      @apply pr-8;
      li {
        @apply mt-5;
        a {
          @apply inline-flex items-center py-5 px-4 w-full cursor-pointer rounded-r-lg text-white text-base hover:bg-white hover:text-neutral-70 transition-all;
          &.active {
            @apply bg-white text-neutral-70;
          }
        }
      }
    }
    .sidebar-footer{
      @apply mt-auto px-4 py-8;
      span{
        @apply text-white text-xs leading-[150%] block;
      }
      p{
        @apply text-white text-[.625rem] ;
        a{
          @apply font-medium;
          color: red;
        }
      }
      .social{
        @apply flex items-center my-4;
        a{
          @apply flex  hover:-translate-y-1;
          transition: .3s ease;
          & +  a{
            @apply ml-4
          }
          svg{
            @apply w-8 h-8;
          }
        }
      }
    }

  }
}
